@media screen
and (max-width: 620px) {
    .info-top {flex-direction: column; align-items: center;}
    .info-sub-flex {padding: 3px 0 0 0;}
}

@media screen 
and (max-width: 800px) {
    .charts {grid-column-gap: 10px;}
}

@media screen 
and (max-width: 730px) {
    .charts {grid-column-gap: 0px; grid-template-columns: auto;}
    .chart {margin-bottom: 40px;}
}