.home {
    background-color: rgba(15, 15, 20, 1);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.home-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity .9s, transform .6s;
    opacity: 1;
}

.home-flex-hidden {
    transform: translateY(200px);
    opacity: 0 !important;
}

.find-profile {
    margin: 30px 0 20px 0;
    font-family: 'Quicksand-Bold';
    color: 	#F5FFFA;
    font-size: 33px;
}

.built-info {
    position: absolute;
    bottom: 10px;
}

.built-info-flex {
    display: flex;
    flex-direction: column;
}

.built-info-flex > span {
    color: #a8b3b2;
    font-family: "Quicksand-Bold";
    font-size: 13px;
    margin: 0 0 10px 0;
}

.built-icons {
    display: flex;
    justify-content: center;
}

.gh-icon {stroke: #a8b3b2; transition: stroke .2s;}
.gh-icon:hover {stroke: rgb(96, 182, 240);}