/* Styles for files under "components" folder */


/* 1. UserSearch.js */
.user-search {
    display: flex;
    height: 36px;
}

.input {
    width: 250px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    height: 100%;
    padding: 0px 0px 0px 15px;
    border: none;
    font-family: "Quicksand-SemiBold";
    font-size: 22px;
}

.input:focus {
    outline: none;
}

.go-button {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.arrow {transition: all .3s; transform: translateX(-2px);}
.go-button:hover
.arrow {
    transform: translateX(3px);
}

/* 2. BackButton.js */

.back-button {
    position: absolute;
    width: 80px;
    height: 30px;
    background-color: whitesmoke;
    margin: 10px 0 0 10px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Quicksand-Medium";
}

.back-button-icon {
    transition: all .2s;
    padding-right: 4px;
}

.back-button:hover .back-button-icon {
    transform: translateX(-3px);
}

/* 3. Error.js */

.error {
    width: 100vw;
    height: 100vh;
    background-color: rgb(19, 19, 22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oops {
    margin: 30px 0 0 0;
    font-family: 'Quicksand-Bold';
    color: 	#F5FFFA;
    font-size: 20px;
}

.message {
    margin: 7px 0 0 0;
    font-family: 'Quicksand-Light';
    color: 	#F5FFFA;
    font-size: 13px;
}

/* 4. Loader.js */
.loader {
    background-color: rgba(15, 15, 20, 1);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 10;
  }
  .lds-ellipsis div {
    background-color: whitesmoke;
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }