.data {
    width: 100vw;
    background: linear-gradient(to bottom, rgb(19, 19, 22) 0%,rgb(19, 19, 22) 550px, rgb(240, 240, 240) 550px, rgb(233, 233, 233) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.avatar-container {
    width: 125px;
    height: 125px;
}

.avatar {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.name {
    margin-top: 20px;
    font-size: 25px;
    font-family: "Quicksand-Bold";
    color: rgb(247, 255, 255);
}

.login {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "Quicksand-Bold";
}

.login:visited, .login {
    color: rgb(61, 125, 243);
    text-decoration: none !important;
}

.info-flex {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
}

.info-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-sub-flex {
    display: flex;
    padding: 15px;
}

.info-sub-flex > svg {

}

.info-text {
    color: rgb(193, 207, 205);
    font-family: "Quicksand-SemiBold";
    font-size: 12px;
    align-self: center;
}

.info-bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.info-bubble-flex {
    margin: 25px 5px 25px 10px;
    width: 110px;
    height: 60px;
    padding: 5px;
    background-color: rgb(54, 54, 54);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-bubble {
    color: rgb(235, 243, 242);
    font-family: "Quicksand-SemiBold";
    font-size: 22px;
}

.info-bubble-what {
    color: rgb(146, 153, 152);
    font-family: "Quicksand-Medium";
    font-size: 14px;
}

.charts {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 60px;
    margin-bottom: 30px;
}

.chart {
    padding: 15px 20px 50px 20px;
    margin-bottom: 50px;
    height: 280px !important;
    background-color: whitesmoke;
    border-radius: 4px;
    text-align: center;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.4) -4px 9px 25px -6px;
}

.chart-title {
    font-size: 20px;
    position: relative;
    top: 0px;
    font-family: "Quicksand-SemiBold";
}

.pie {
    transform: translateY(-20px);
    width: 300px !important;
    height: 300px !important;
}

.repos {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 30px;
    width: 85vw;
}

.repos-picker {
    display: flex;
}

.picker-text {
    padding: 0 7px 0 20px;
    font-size: 15px;
    position: relative;
    top: 0px;
    color: grey;
    font-family: "Quicksand-Medium";
    align-self: center;
}

.repos-title {
    font-size: 20px;
    position: relative;
    top: 0px;
    font-family: "Quicksand-SemiBold";
    align-self: center;
}

.repos-grid {
    position: relative;
    display: grid;
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    margin-top: 20px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.select-by {
    font-family: "Quicksand-Medium";
    width: 70px;
    height: 25px;
    align-self: center;
}

.repo {
    transition: box-shadow .2s;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) -4px 9px 25px -6px;
    background-color: whitesmoke;
    height: 160px;
}

.repo-linker,
.repo-linker:visited {
    width: 100%;
    height: 100%;
    display:inline-block;
    outline: none;
    text-decoration: none;
    color: rgb(48, 48, 48);
    font-size: 15px;
    font-family: "Quicksand-SemiBold";
}

.repo:hover {
    box-shadow: rgba(0, 0, 0, .3) -4px 9px 25px -6px;
}

.repo-pad {
    position: relative;
    margin: 20px;
    height: 140px;
}

.title-flex {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.title-flex > span {

}

.repo-icon {
    padding-right: 8px;
}

.repo-desc > span {
    text-overflow: ellipsis;
    overflow:hidden;
    font-family: "Quicksand-Medium";
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
    color: rgb(87, 81, 81);
    font-size: 12px;
    text-align: justify;
}

.repo-info-1 {
    display: flex;
    align-items: center;
}

.repo-info {
    font-family: "Quicksand-Medium";
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.language-color {
    margin-right: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.pd {
    margin-right: 8px;
}

.contributions {
    margin-bottom: 30px;
    width: 740px;
}

.contrib-title {
    font-size: 20px;
    text-align: center;
    padding: 15px 0 10px 0;
    font-family: "Quicksand-SemiBold";
}

.contrib-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, .3) -4px 9px 25px -6px;
}

.contrib-table {
    margin-bottom: 50px;
    transition: .3s;
    width: 100%;
}

table {
    padding: 0px 15px 30px 15px;
    height: 100%;
    width: 100%;
}

td {
    padding: 0;
    margin: 0;
}

.contrib-top-row {
    height: 30px;
}

.contrib-left-column {
    width: 30px;
}

.contrib-display {
    display: flex;
    width: 100%;
    height: 100%;
}

.contrib-row {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 2%;
    margin-right: 3px;
}

.contrib-day {
    position: relative;
    width: 100%;
    height: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
}

.contrib-info {
    left: -61px;
    z-index: 1000;
    visibility: hidden;
    bottom: 18px;
    cursor: default;
    position: absolute;
    width: 140px;
    font-size: 8px;
    height: 16px;
    transition: opacity .05s;
    text-align: center;
}

.contrib-info-top {
    font-family: "Quicksand-Medium";
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 16px;
    background-color: rgb(148, 148, 148);
}

.contrib-info-ins {
    position: relative;
    top: 2px;
}

.contrib-day:hover +.contrib-info {
    visibility: visible !important;
}

.contrib-day-container {
    position: relative;
}

.contrib-info-triangle {
    position: absolute;
    left: 61px;
    top: 95%;
	width: 0;
	height: 0;
	border-width: 5px 5px 0 5px;
    justify-self: center;
	border-color: rgb(148, 148, 148) transparent transparent transparent;
	border-style: solid;
}

.contrib-months {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 28px;
}

.contrib-month {
    width: calc(100/12 * 1%);
    font-size: 9px;
    font-family: "Quicksand-Medium";
}